@font-face { font-family: Nevis; src: url("fonts/nevis.ttf"); }
.browser button, .browser .fullCoverText, .browser .exitSettings, .browser .fullCover, .browser .levelIcon, 
.browser .choiceIcon, .browser .settingsGear, .browser .aboutButton, .browser .crop, .browser #errorBg, .browser .exitError { cursor: pointer }

*, *:active, *:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
}

a { color: #502300; text-decoration: none }
a:active { color: #996600 }
a:visited { color: #502300 }
#bottom {
	bottom: 0;
	right: 25px;
	width: 100%;
	text-align: right;
	font-size: 68px !important;
	position: absolute;
}
#bottom img { margin-bottom: -18px }

#debugInfo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid black;
	background-color: #FFFFFF;
}

.loading {
	animation: loader 2s linear infinite;
	background-image: url("images/loading.png");
	height: 160px;
	margin: 0 auto;
    margin-top: 480px;
	width: 160px;
}
@keyframes loader { from { transform: rotate(0deg) } to { transform: rotate(360deg) } }
#loadingScreen { margin-top: 50% }
#l2 { font-size: 128px; margin-top: 40px; text-align: center }

html, body, #content, #levelSelect  {
	height: 100%;
	overflow-y: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
body {
	background-image: url("images/bg.jpg");
	background-repeat: repeat;
	font-family: Nevis !important;
	overflow-x: hidden;
	position: relative;
}
#levelDisplay {
	bottom: 0px;
	overflow-x: auto;
	position: absolute;
	width: 100%;
}
#levelDisplay > div { padding-bottom: 50px }
#levelInfoButtons {
    position: absolute;
    bottom: 0;
    width: 98%;
}
#levelInfo > div { font-size: 96px; text-align: center }
#levelInfoScoreSection { font-size: 84px !important }

#overlayTextCropInfo { margin-top: 40px }

#optionsMenu, #aboutMenu, #errorMessage {
	background: #E88B00;
	border: 30px solid transparent;
	border-image: url("images/border.png") 27;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	z-index: 999;
}
#errorMessage {
	height: 30%;
	top: 35%;
	width: 85%;
	z-index: 1002;
}
#optionsMenu { height: 60%; top: 20% }
#aboutMenu { height: 75%; top: 10% }
#aboutContainer { height: 100% }
#optionsOverlay {
	height: 100%;
	position: absolute;
	background: #FFAC2F;
	left: 0;
	opacity: 0.5;
	top: 0;
	width: 100%;
}
#errorBg {
	height: 100%;
	position: absolute;
	background: #FF4C0F;
	left: 0;
	opacity: 0.5;
	top: 0;
	width: 100%;
	z-index: 1001;
}
#errorButton {
	bottom: 20px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}
#optionsMenu > div, #aboutMenu > div, #errorMessage > div { font-size: 72px }
.exitSettings, .exitError {
	float: right;
	font-family: Arial;
	font-size: 144px !important;
	font-weight: bold;
	margin-top: -40px;
}
.exitSettings:hover, .exitSettings:active, .exitError:hover, .exitError:active { color: #996600 }
.inSettings { padding-left: 72px }
#aboutMenu p, #aboutMenu li {
    padding: 0 30px;
    text-align: left;
}
#aboutMenu p { font-size: 48px }
#aboutMenu li { font-size: 36px }
#aboutMenu ul { margin-left: 60px; margin-top: -20px }
#aboutTop { height: 3%; }
#aboutInner { 
	height: 90%;
	width: 100%;
	overflow-y: auto;
}
#license {
	border: 4px solid black;
	background-color: #FFFFFF;
	font-size: 36px;
}
#fbUserInfo > img {
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}
table { margin: 0 auto; width: 70% }
table .num { text-align: right; width: 5% }
table .img { width: 35% }
table .name { text-align: left; width: 45% }
table .val { text-align: right; width: 15% }
.img > img { border-radius: 50px; width: 100px }
.that-me { color: #DD5A15 }

.fancyButton {
	background: #E88B00;
	border: 30px solid transparent;
	border-image: url("images/border.png") 27;
	padding: 6px 24px;
}
#levelSelBtn > span { display: block }
#levelSelBtn > span:first-child { font-size: 128px }
#levelSelBtn > span:last-child { font-size: 56px }
.fancyButton.mode { display: inline-block; margin: 0 20px; width: 450px; }
.fancyButton.mode > span { display: block }
.fancyButton.mode > span:first-child { font-size: 96px }
.fancyButton.mode > span:last-child { font-size: 56px }

.textbox {
	background: #E88B00;
	border: 30px solid transparent;
	border-image: url("images/border.png") 27;
	text-align: left;
	width: 90%;
	bottom: 10px;
	height: 25%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#tutorial { height: 18% }
.textbox > div { font-size: 64px; padding: 25px 35px }
#levelInfo {
	height: 75%;
	position: relative;
	top: 50px;
}
#pointer {
	background-image: url("images/pointyfinger.png");
	position: absolute;
	height: 200px;
	width: 200px;
	z-index: 9999;
}

@keyframes jump1 { from { top: 0 } to { top: -192px } }
@keyframes drop1 { from { top: 0 } to { top: 192px } }
@keyframes drop2 { from { top: 0 } to { top: 384px } }
@keyframes drop3 { from { top: 0 } to { top: 546px } }
@keyframes drop4 { from { top: 0 } to { top: 768px } }
@keyframes drop5 { from { top: 0 } to { top: 960px } }
@keyframes drop6 { from { top: 0 } to { top: 1152px } }
@keyframes drop7 { from { top: 0 } to { top: 1344px } }
@keyframes drop8 { from { top: 0 } to { top: 1536px } }
.dropping { position: relative; animation-duration: 0.25s;  animation-iteration-count: 1; animation-fill-mode: forwards; }
.dropping1 { animation-name: drop1 }
.dropping2 { animation-name: drop2 }
.dropping3 { animation-name: drop3 }
.dropping4 { animation-name: drop4 }
.dropping5 { animation-name: drop5 }
.dropping6 { animation-name: drop6 }
.dropping7 { animation-name: drop7 }
.dropping8 { animation-name: drop8 }
.jumping1 { animation-name: jump1 }

.cropRow > div { text-align: center }
.sprite {
	background: url("images/sheet.png");
	display: inline-block;
	height: 192px;
	width: 192px;
}
.crop.paused { background: none }

.crop_particle { position: absolute; z-index: 100 }

.c_carrot_0 { background-position: -192px 0 }
.c_carrot_1 { background-position: -384px 0 }
.c_carrot { background-position: -576px 0 }

.c_corn_0 { background-position: -768px 0 }
.c_corn_1 { background-position: -960px 0 }
.c_corn_2 { background-position: -1152px 0 }
.c_corn_3 { background-position: -1344px 0 }
.c_corn { background-position: -1536px 0 }

.c_cucumber_0 { background-position: -1728px 0 }
.c_cucumber_1 { background-position: -1920px 0 }
.c_cucumber_2 { background-position: -2112px 0 }
.c_cucumber { background-position: -2304px 0 }

.c_tomato_0 { background-position: -2496px 0 }
.c_tomato_1 { background-position: -2688px 0 }
.c_tomato_2 { background-position: -2880px 0 }
.c_tomato { background-position: 0 -192px }

.c_pumpkin_0 { background-position: -192px -192px }
.c_pumpkin_1 { background-position: -384px -192px }
.c_pumpkin_2 { background-position: -576px -192px }
.c_pumpkin_3 { background-position: -768px -192px }
.c_pumpkin { background-position: -960px -192px }

.c_strawberry_0 { background-position: -1152px -192px }
.c_strawberry_1 { background-position: -1344px -192px }
.c_strawberry_2 { background-position: -1536px -192px }
.c_strawberry { background-position: -1728px -192px }

.HD .sprite { background-image: url("images/sheet_HD.png") !important }
.HD .infoBar { background-image: url("images/info_HD.png") !important }
.HD .infoBar.any { background-image: url("images/info_all_HD.png") !important }
.acc .sprite { background-image: url("images/sheet_acc.png") !important }
.infoBar {
	background-image: url("images/info.png");
	display: inline-block;
	font-size: 48px;
	height: 100px;
	text-align: right;
	width: 280px;
}
.infoBar.any { background-image: url("images/info_all.png") }
.infoBar.tomato { background-position: -280px 0 }
.infoBar.strawberry { background-position: -560px 0 }
.infoBar.corn { background-position: 0 -100px }
.infoBar.carrot { background-position: -280px -100px }
.infoBar.pumpkin { background-position: -560px -100px }
.infoBar.time { background-position: 0 -200px }
.infoBar.score { background-position: -280px -200px; width: 404px }
.infoBar.OK { background-position: -690px -200px; width: 145px }
.infoBar > span {
    display: table-cell;
    height: 100px;
    padding-right: 40px;
    vertical-align: middle;
    width: 280px;
}
.infoBar.forbidden:before {
    background-image: url(images/x.png);
    content: " ";
    float: left;
    height: 80px;
    margin-left: 15px;
    margin-top: 10px;
    width: 88px;
}
.infoBar.score > span { width: 404px }

#shipInfo {
	background: #FFA826;
	border: 5px solid black;
	margin: 20px auto;
	padding-bottom: 10px;
	width: 1024px;
}
#shipText {
	font-size: 48px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom: 5px solid black;
}
#shipItems { height: 208px }

#mainMenu { text-align: center }
#logo { margin: 0 auto; left: 0; right: 0; margin-top: 360px; }

.levelIcon, .choiceIcon, .settingsGear, .aboutButton {
	background-image: url("images/tiles.png");
	display: inline-block;
	font-size: 72px;
	height: 300px;
	text-align: center;
	width: 300px;
}
.levelIcon > div { padding-top: 100px }
.android .levelIcon > div { padding-top: 120px }
.aboutButton { background-image: url("images/about.png") }
.aboutButton:hover, .aboutButton:active { background-position: -300px 0 }
.settingsGear { background-image: url("images/gear.png") }
.settingsGear:hover, .settingsGear:active { background-position: -300px 0 }

.sg2 { display: inline-block !important; margin: 0 auto; left: 0; right: 0 }
.sg3 { float: right; padding: 0 !important }

.levelIcon.selectedLevel, .choiceIcon.selectedLevel { background-position: -300px 0 !important; color: #996600 }
.levelIcon.complete { background-position: -600px 0 }
.bigLevelIcon { background-position: 0 -300px }
.bigLevelIcon.selectedLevel { background-position: -300px -300px !important; color: #996600 }
.bigLevelIcon.complete { background-position: -600px -300px }
.levelIcon:not(:last-child):after {
    background: #000000;
    content: "";
    display: block;
    height: 10px;
    left: 250px;
    position: relative;
    top: -45px;
    width: 100px;
    z-index: -5;
}

.scoreParticle, .timeParticle {
	animation: score;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-image: url("images/particles.png");
	display: inline-block;
	height: 116px;
	position: absolute;
	width: 143px;
}
.scoreParticle { right: 15% }
.timeParticle { left: 40% }
.scoreParticle.f2, .timeParticle.f2 { background-position: -143px 0 }
.scoreParticle > span, .timeParticle > span {
	display: table-cell;
	font-size: 32px;
    height: 116px;
    text-align: center;
    vertical-align: middle;
    width: 143px;
}
@keyframes score {
	0% { top: 40px; opacity: 0; }
	45% { top: 22px; opacity: 1; }
	55% { top: 18px; opacity: 1; }
	100% { top: 0; opacity: 0; }
}

.fullCover {
    background: rgba(255, 255, 255, 0.2);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.fullCoverText {
    background: rgba(255, 255, 255, 0.75);
    font-size: 96px;
    font-weight: bold;
	min-height: 40%;
	left: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
	z-index: 999999;
}
.fullCoverText.large { min-height: 80%; top: 10% }
.fullCoverText.medium { min-height: 60%; top: 20% }
.fullCoverText.small { min-height: 30%; top: 35% }

.blockSpan { display: block }
.scoresTop { margin-bottom: 160px }
.scoresInner { padding-top: 60px }
#overlayText {
	margin: 0 auto;
	width: 80%;
}
.overlayButtons {
	bottom: 10px;
	position: absolute;
	width: 100%;
}
#overlayButtonsA { position: initial }
.bigButton { font-size: 148px; height: 500px; width: 60% }
.medButton { font-size: 120px; height: 300px; width: 40% }
.smalButton { font-size: 96px; height: 200px; width: 30% }
.strechSmalButton { font-size: 96px; height: 200px; min-width: 30% }
button.nav {
    background-color: #EEEEEE;
    border: 10px solid #CCCCCC;
    border-radius: 75px;
    color: #999999;
    height: 150px;
    opacity: 0.9;
    position: absolute;
    top: 40%;
    width: 150px;
}
button.nav:hover, button.nav:active { background: #EEEEEE; border-color: #CCCCCC; color: #999999; opacity: 1.0 }
#navRight { right: 5px }
#navLeft { left: 5px }
.overlayText { padding-top: 40px }
.overlayText > span { font-size: 70px }
button {
	background: #FFAC2F;
	border: 5px solid #704300;
	border-radius: 8px;
	display: block;
	font-family: Nevis !important;
	font-size: 72px;
	margin: 20px auto;
	padding: 24px 48px;
	text-align: center;
	white-space: nowrap;
}
button:hover { background: #FFA51E; border-color: #996600; color: #996600 }
button:active { background: #CA7900; border-color: #000000; color: #000000 }

.quitGame { font-size: 48px }

.gameInfo, .cropInfo { text-align: center }
.cropRow { line-height: 0; text-align: center }